{%extends "layout.html"%}
{% block main %}

<div style="max-height: 36em;" class="list-group overflow-auto">
  {% if current_user.is_authenticated and not current_user.confirmed%}
  <a class="btn btn-basic btn-sm btn-outline-dark bg-blue"href="{{url_for('resend_conformation')}}">Resend email confirmation link</a>
  {% endif%}
  {% if current_user.is_authenticated and current_user.confirmed%}
  <a href="{{url_for('newforumpage')}}" class="btn btn-basic btn-sm btn-outline-dark sticky-top bg-blue"
    role="button">Create New Topic &#43;</a>
  {% else %}
  <a href="{{url_for('newforumpage')}}" class="btn btn-basic btn-sm btn-outline-dark sticky-top disabled bg-blue"
    role="button">Create New Topic &#43;</a>
  {% endif %}
 
  
  

  {% if forumpages %}


  {% for forumpage in forumpages%}


  <a href="{{url_for('showforumpage',forumpage_id=forumpage.id)}}"
    class="list-group-item list-group-item-action"><h5>{{forumpage.topic}}</h5>
    <p  class="text-right text-basic">
      <small>Created by {{forumpage.creator.username}} at {{localizetime(forumpage.date_created)}}</small>
    </p>
  </a>


  {% endfor %}
  {% endif %}


</div>

{% endblock main %}